<h1>Tonight's Dinner</h1><br>
<div>
  <div class="add-button">
    <%= link_to "ADD +", new_food_path, class: "btn btn-default" %><br>
  </div>
  <ul>
    <% @foods.each do |food| %>
      <div class="row">
        <div class="well col-xs-5 col-xs-offset-3">
            <div class="card text-white bg-secondary mb-3">
              <div class="title-body">
                <%= food.created_at.strftime("%d/%m") %>
                <%= link_to food.title, food %>
              </div>
            </div>
        </div>
      </div>
    <% end %>
  </ul>
</div>
