<h1>Tonight's Dinner</h1>

<%= link_to "ADD +", new_food_path %>

<ul>
  <% @foods.each do |food| %>
    <li>
      <%= food.created_at.strftime("%d/%m/%Y") %>
      <%= link_to food.title, food %>
    </li>
  <% end %>
</ul>
