<h1>Tonight's Dinner</h1><br>
<div>
  <ul>
    <div class="add-button">
      <%= link_to "ADD +", new_food_path, class: "btn btn-default" %>
    </div>
    <% @foods.each do |food| %>
      <div class="card-body">
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <div class="well well-lg">
              <%= food.created_at.strftime("%d/%m") %>
              <%= link_to food.title, food %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </ul>
</div>
