
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #ffe6cc;
}

// .homepage {
//   text-align: ;
// }

.header {
  text-align: center;
}

.food-list, .add-link, .edit-class{
  font-size: large;
  list-style-type: none;
  padding-left: 0;
  max-width: 270px;
  margin: auto;
}
.delete-class{
  font-size: medium;
}
.note-box {
  font-size: large
}

.show, .form{
  font-size: large;
  list-style-type: none;
  padding-left: 0;
  max-width: 220px;
  margin: auto;
}