
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #ffe6cc;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  font-style: italic;
}

.header {
  text-align: center;
}

.food-list, .add-link, .edit-class{
  font-size: large;
  list-style-type: none;
  padding-left: 0;
  max-width: 430px;
  margin: auto;
}
.delete-class{
  font-size: medium;
}
.note-box {
  font-size: large
}

.form{
  font-size: large;
  list-style-type: none;
  padding-left: 0;
  max-width: 220px;
  margin: auto;
}

.card-body{
  padding-top: 15px;
 padding-bottom: 1px;
 width: 400px;
 padding-left: 2;

//  text-align: center;
//  max-width: 220px;
//  margin: auto;
}

.add-button{
  // left: 3px;
  text-align: center;
  padding-left: 5;
  // max-width: 590px;
}

.title-body {
  font-weight: normal;
  font-size: 1.5em;
 }